body {
  background-image: url("../resources/artic-bear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  margin: 0; /* Remove default margin */

}
